In [ ]:
import sqlite3
 
try:
   
    # Connect to DB and create a cursor
    sqliteConnection = sqlite3.connect('sql.db')
    cursor = sqliteConnection.cursor()
    print('DB Init')
 
    # Write a query and execute it with cursor
    query = 'select sqlite_version();'
    cursor.execute(query)
 
    # Fetch and output result
    result = cursor.fetchall()
    print('SQLite Version is {}'.format(result))
 
    # Close the cursor
    cursor.close()
 
# Handle errors
except sqlite3.Error as error:
    print('Error occurred - ', error)
 
# Close DB Connection irrespective of success
# or failure
finally:
   
    if sqliteConnection:
        sqliteConnection.close()
        print('SQLite Connection closed')

In [ ]:
import sqlite3
 
 
# create connection by using object
# to connect with hotel_data database
connection = sqlite3.connect('hotel_data.db')
 
# query to create a table named FOOD1
connection.execute(''' CREATE TABLE hotel
         (FIND INT PRIMARY KEY     NOT NULL,
         FNAME           TEXT    NOT NULL,
         COST            INT     NOT NULL,
         WEIGHT        INT);
         ''')
 
# insert query to insert food  details in 
# the above table
connection.execute("INSERT INTO hotel VALUES (1, 'cakes',800,10 )")
connection.execute("INSERT INTO hotel VALUES (2, 'biscuits',100,20 )")
connection.execute("INSERT INTO hotel VALUES (3, 'chocos',1000,30 )")
 
 
print("All data in food table\n")
 
# create a cousor object for select query
cursor = connection.execute("SELECT * from hotel ")
 
# display all data from hotel table
for row in cursor:
    print(row)

In [ ]:
import sqlite3
 
# Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('geek.db')
 
# cursor object
cursor_obj = connection_obj.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS GEEK")
 
# Creating table
table = """ CREATE TABLE GEEK (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """
 
cursor_obj.execute(table)
 
print("Table is Ready")
 
# Close the connection
connection_obj.close()

In [ ]:
import sqlite3 
  
# Connecting to sqlite 
# connection object 
connection_obj = sqlite3.connect('geek.db') 
  
# cursor object 
cursor_obj = connection_obj.cursor() 
  
connection_obj.execute("""CREATE TABLE GEEK( 
  Email varchar(255), 
  Name varchar(50), 
  Score int 
  );""") 
  
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk1@gmail.com","Geek1",25)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk2@gmail.com","Geek2",15)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk3@gmail.com","Geek3",36)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk4@gmail.com","Geek4",27)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk5@gmail.com","Geek5",40)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk6@gmail.com","Geek6",36)""") 
connection_obj.execute( 
    """INSERT INTO GEEK (Email,Name,Score) VALUES ("geekk7@gmail.com","Geek7",27)""") 
  
connection_obj.commit() 
  
# Close the connection 
connection_obj.close()

In [ ]:
import sqlite3 
  
# Connecting to sqlite 
# connection object 
connection_obj = sqlite3.connect('geek.db') 
  
# cursor object 
cursor_obj = connection_obj.cursor() 
  
# to select all column we will use 
statement = '''SELECT * FROM GEEK'''
  
cursor_obj.execute(statement) 
  
print("All the data") 
output = cursor_obj.fetchall() 
for row in output: 
  print(row) 
  
connection_obj.commit() 
  
# Close the connection 
connection_obj.close()